
/* Reset styles */
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  text-align: left;
}

/* Set the app to use dark mode by default */
:root {
  color-scheme: dark;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
